[Unit]
Description=PHP Container

[Container]
Image=p-nextcloud-php.build
ContainerName=nextcloud-php
ServiceName=pc-nextcloud-php
Pod=p-nextcloud.pod
Mount=type=volume,source=p-nextcloud.volume,destination=/data,U=false

[Install]
WantedBy=multi-user.target
